@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
@import "reset.css";
@import "variable.css";

/* Components */

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/* Screens */

@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Oswald", sans-serif;
  height: 200vh;
  color: #2e363e;
}
